[2019-02-06 16:42] davist11 opened #1 "Review Step?"
I'm curious how you would get this to work with a review step and Accept.js. So we have a payment page where you enter the payment information, generate the `token` and `tokenDescriptor`, and pass that data to a "review" step where you actually hit one last confirm purchase button to make the payment.

So the form on my review step has

[code]

I confirmed that `token` and `tokenDescriptor` have v

[2019-02-06 16:52] benlobach commented on #1
@davist11, great question! Do you have Accept.js enabled in the plugin settings?

[2019-02-06 16:56] davist11 commented on #1
Yep, and it's generating the token and descriptor correctly. I'm actually storing the `token` and `tokenDescriptor` on the cart so I can access it on the review page. (I temporarily modified your JS code).

So my payment page looks like

[code]

Then I modified your JS to add:

[code]

And then finally the review step has the final form

[code]

So the `token` and `tokenDescriptor` fields are bein

[2019-02-06 17:21] benlobach commented on #1
Thanks, that's super helpful. I probably wouldn't recommend storing the token in the cart/order, but as long as the credit cards field exist and pass validation, the payment should go through. Those details are removed before sending through to the Authorize when Accept.JS is enabled. We'll look into removing that requirement on our end as a feature enhancement.

[2019-02-06 18:54] davist11 commented on #1
Ok, great! So in terms of expectations about how it would work, would it work like:

- Payment page contains credit card form (including Accept.js)
- Clicking submit on that form would
  - make the JS call to Authorize.net via Accept.js
  - return the token
  - submit the form which calls the `commerce/cart/update-cart` action
  - redirect to review page
- The review page contains a form that upon

[2019-02-06 20:30] benlobach commented on #1
Yes, that looks correct. Can you post the token directly to the review page without saving it to the cart?

[2019-02-06 21:07] davist11 commented on #1
I don't think so, since the update cart action redirects based on the `redirectInput` passed in, so it wasn't available in the POST request.

[2019-02-06 22:47] benlobach commented on #1
After running testing, you can post directly to the review page (after using Javascript to clear the Credit Card details before the form is submitted), but the final review form does have to present with a valid number in order for the payment to proceed at this point. We're looking into that aspect a bit further.

[code]

[2019-02-07 06:20] benlobach commented on #1
@davist11, We released version 1.0.3 this evening which removes the credit card validation when the Accept.js token is present. We're going to close this issue, unless you have an outstanding question?

[2019-02-07 15:35] davist11 commented on #1
@benlobach I've updated to the latest version, but I'm not seeing any value returned when I output

`{{ craft.app.request.getBodyParam('token') }}`
or
`{{ craft.app.request.getBodyParam('tokenDescriptor') }}` on the review page

Am I missing something? How are those parameters set when the update cart controller redirects to the redirect input url?

[2019-02-07 15:38] benlobach commented on #1
If you would like to use the craft.app.request.getBodyParam functions, you will want to post the form action attribute directly to the review page rather than using the update cart redirect.

[2019-02-07 15:43] davist11 commented on #1
🤦‍♂️  duh, that makes sense, missed that step. Ok, all set now, thanks for the updates!

Also one minor note you may want to update in the docs. When using Accept.js, your JS requires that the form has the `id="paymentForm"` attribute.

[code]

[2019-02-07 15:43] #1 closed

[2019-08-14 08:40] mariovass opened #4 "Subscription"
Hi do you have subscriptions for CraftCommerce in the pipeline, would be amazing if this was possible with Authorize.NET

https://docs.craftcms.com/commerce/v2/subscriptions.html

[2019-08-14 14:23] benlobach commented on #4
@mariovass -- Great question, thanks for asking!  We would love to add subscriptions in the future, but the Authorize.net Omnipay gateway does not currently support it. We are considering building the functionality around the gateway, but it depends on the level of interest we have from the community.

To get the discussion started -- how important would it be to cancel/update/manage the subscript

[2019-08-15 06:04] mariovass commented on #4
Hey @benlobach thanks for the swift response. I think it would be pretty important. I have seen an increasing demand for selling CBD / Cannabis products in the US and Authorize.NET is one of the only gateways that allow it. If subscriptions where possible it would be a big win.

For some reason i thought it was possible from the docs: https://developer.authorize.net/api/reference/features/recurrin

[2019-08-15 14:59] benlobach commented on #4
We have written many integrations that use the Recurring Billing API from Authorize.net, but Craft Commerce uses Omnipay rather than using a direct connection with the Authorize.net API. The Authorize.net Omnipay driver currently supports AIM and CIM functions (charging and storing customer profiles), but doesn't support recurring billing out of the box. When we integrate the subscriptions service

[2019-08-16 23:29] keyurshah opened #5 "Environment variables"
Hi there!

I'd like to use environment variables to allow different settings for dev and production.

I tried to use the $ method as described [here ](https://docs.craftcms.com/v3/config/environments.html#control-panel-settings) but when I type the dollar sign, the environmental variables dropdown does not appear

![image](https://user-images.githubusercontent.com/744385/63212415-21cbd500-c0b9-11e

[2019-08-19 01:04] benlobach commented on #5
@keyurshah, environment variables haven't been enabled for this gateway yet, but we're currently working on it. We should have a release with this functionality by the end of the week.

[2019-08-19 04:00] keyurshah commented on #5
good to hear!

[2019-10-08 20:24] sjcallender commented on #5
@benlobach Any updates on this feature? We're migrating a site this month and would value this update.

[2019-10-10 04:19] benlobach commented on #5
@sjcallender, @keyurshah --

Thanks for checking in! We released a new version this evening that has support for Environment Variables. You can now set the API Key, Transaction Key, and Public Client Key with these variables.

If you would like to change the other fields, we have placed a [sample file](https://github.com/digital-pros/commerce-authorize/blob/master/commerce-gateways-sample.php) in

[2019-10-11 17:53] keyurshah commented on #5
Thanks for the update with the environment variables.

I'm trying it out with the config file and something seems off.  I have my config (commerce-gateways.php file) getting values from .env

i.e.
`		'apiLoginId' => getenv('AUTHORIZE_NET_API_LOGIN_KEY'),`

It is then populating the exact value inside the form for the api values.  (by the way, in other plugins I've seen it give a little notice that

[2019-10-11 18:01] benlobach commented on #5
@keyurshah,

Can you try populating the 'apiLoginId' with a value of '$AUTHORIZE_NET_API_LOGIN_KEY'?

Here's an example:
`'apiLoginId' => '$AUTHORIZE_NET_API_LOGIN_KEY',`

It looks like it's working here in my local environment, let me know if that works for you!

[2019-10-11 18:10] benlobach commented on #5
One other thing to note -- you can take the API keys out of the commerce-gateways.php file, and reference the Environment Variables in the Gateway settings inside Craft Commerce. The commerce-gateways.php file only overwrites the values that are present in the file.

[2019-10-17 19:12] keyurshah commented on #5
sorry for the delay. that seems to have work, by using
[code]

thanks so much!

[2019-12-10 16:13] taylordaughtry opened #6 "Commerce 3 Compatibility Timeline"
Hey! I'm currently working within a project that's going to launch with Commerce 3 (at some point in the future.) Are there any plans to update this package for Commerce 3 compatibility?

[2019-12-10 16:24] benlobach commented on #6
Great question! Yes, we will be updating/testing the plugin for Commerce 3 compatibility. We'll begin testing once the Commerce team releases a beta version of Commerce 3.

[2020-01-29 04:12] keyurshah commented on #6
looks like commerce 3.4 just launched woohoo!

tried to upgrade but got the error below

seems like the solution would be to add this to composer.json, but hopefully everything else would still work.

[code]

error

[code]

[2020-01-29 14:27] taylordaughtry commented on #6
@benlobach Hey! In light of the GA release for 3, I wanted to check-in here and see how things were going with testing, and whether there was a timeline just yet on compatibility. We'd _really_ love to use this plugin!

Thanks for writing this plugin; it'd be a huge time-saver for us!

[2020-01-29 15:44] benlobach commented on #6
We're currently testing our plugin with Craft Commerce 3. The gateway does appear to be working as expected from a front-end perspective, but we were unable to test an order all the way through due to a bug that the Craft team patched today. Once that fix is released, we'll run one more round of testing, and then create an official release for Commerce 3.

Our next area of focus will be back-end o

[2020-01-30 16:00] benlobach commented on #6
Just a quick update - 1.0.9 has been released with Commerce 3 compatibility. If you need to process orders in the control panel, you will want to turn off the Accept.js toggle in the gateway settings until the next release.

If you run into anything as you test, please let us know!

[2020-02-13 17:19] sm-md-lg opened #8 "Echeck"
Does the authorize.net payment gateway support eCheck?  If not do you have any plans to in the future?

Here's info about it: https://developer.authorize.net/api/reference/features/echeck.html

[2020-02-14 21:32] benlobach commented on #8
Hello, @sm-md-lg, it doesn't look like this is supported in the Authorize.net Omnipay gateway, and we don't have plans to write a manual integration around the gateway at this point.

https://github.com/thephpleague/omnipay-authorizenet/issues/7

We're going to close this issue, but if there's additional interest in this feature, feel free to drop us a note at hello@digitalpros.co!

[2020-02-14 21:32] #8 closed

[2020-02-23 22:37] keyurshah opened #9 "Saved Payment with AcceptJs"
Hello,

It looks like when a payment source is saved with AcceptJs, that it does not save the last 4 digits of the card.  Without this, it is hard to figure out which card is used.

Is there a way we can pass the only last 4 digits through when the form is submitted to craft and then reference that when saving the card?

Thanks

[2020-02-24 05:32] benlobach commented on #9
Hello @keyurshah,

Because we do not send payment details back to the server when Accept.js is enabled, we are not able to add the credit card number to the saved payment method during processing. However, you can add a **_description_** field to the payment form which will overwrite the default name and save whatever you enter in that particular field.

You could turn the description field into a

[2020-02-24 05:32] #9 closed

[2020-02-24 05:35] keyurshah commented on #9
Ok perfect! I tried using that description field and it didn’t work
earlier.  This fix seems perfect!

On a side note, does craft allow a mechanism to check for expired cards? I
did not see expiration being saved anywhere.

Thanks

On Sun, Feb 23, 2020 at 9:32 PM Ben Lobach <notifications@github.com> wrote:

[2020-02-24 05:38] benlobach commented on #9
No, it's all managed inside Authorize.net. If the card is expired, Authorize.net won't approve the charge on the stored payment method when they checkout.

[2020-02-27 00:22] keyurshah opened #11 "Error when capturing in admin"
**Describe the bug**
I placed an order with paymen type `AUTHORIZE`.

I tried to capture the payment in the admin but got the error:

![image](https://user-images.githubusercontent.com/744385/75400312-bd819d80-58b3-11ea-9b80-0175082a17ea.png)

[code]

This does not seem to happen with other gateways.

**To Reproduce**
Steps to reproduce the behavior:
1. Place order on site with `AUTHORIZE`
2. Go t

[2020-03-02 03:47] benlobach commented on #11
@keyurshah, 1.0.11 has been released which fixes this bug. Let me know if you have any questions!

[2020-03-02 03:47] #11 closed

[2020-03-02 21:40] keyurshah commented on #11
thanks so much for the quick fix!

[2020-03-11 23:05] bfjare opened #12 "Craft 3 cant refund"
Craft CMS: 3.4.9
Commerce: 3.0.11
Authorize Gateway: 1.0.11

Getting the error "Couldn’t refund transaction: (Description is required.)"

Adding refund notes and text to the order description field do not solve issue.

[2020-03-12 01:11] benlobach commented on #12
Hello, @bfjare! We'd like to dig into this a bit further as we can't replicate the error on our end. Would you mind sharing your Gateway settings and the response from the gateway for this attempted refund?

If you'd rather not post that information here, feel free to email it to hello@digitalpros.co!

[2020-03-12 21:24] bfjare commented on #12
Sure thing!
![settings](https://user-images.githubusercontent.com/11744681/76567974-d2f7e980-64a7-11ea-9b97-c93127c08106.png)

[2020-03-12 21:34] benlobach commented on #12
Great, thanks! If you click the (i) icon next to the failed refund, can you post/send the results from that area as well?

[2020-03-12 21:38] bfjare commented on #12
<img width="1057" alt="Screen Shot 2020-03-12 at 3 37 22 PM" src="https://user-images.githubusercontent.com/11744681/76568865-ae047600-64a9-11ea-8ff0-9e139340ab76.png">
<img width="1386" alt="Screen Shot 2020-03-12 at 3 37 47 PM" src="https://user-images.githubusercontent.com/11744681/76568884-bbb9fb80-64a9-11ea-9c84-17e4b2227fb4.png">

[2020-03-13 15:49] benlobach commented on #12
Thanks so much for providing this information! Did your transaction inside Craft Commerce have a billing address associated with the transaction?

[2020-03-13 21:35] bfjare commented on #12
<img width="404" alt="Screen Shot 2020-03-13 at 3 34 38 PM" src="https://user-images.githubusercontent.com/11744681/76661100-78778f80-6572-11ea-92b8-795ab19c37b0.png">
 Anyone is welcome to send money to that address.

[2020-03-13 21:35] bfjare commented on #12
Remind me to delete these images after we solve this.

[2020-03-13 21:37] bfjare commented on #12
<img width="404" alt="Screen Shot 2020-03-13 at 3 34 38 PM" src="https://user-images.githubusercontent.com/11744681/76661227-cab8b080-6572-11ea-999b-6f485b1590ce.png">

[2020-03-13 21:41] benlobach commented on #12
You can delete them now, thanks so much! Can you replicate this issue consistently with the same gateway message?

[2020-03-13 21:51] bfjare commented on #12
The error message happens on every order yes.

[2020-03-21 05:59] benlobach commented on #12
Thanks for giving us some time to look into this issue. We are still unable to replicate the issue on our end. Couple of things to check:

- Has the transaction settled in Authorize.net before attempting the refund? If not, you will need to enable the "Void if Refund Fails" option in the gateway settings.
- In the transaction on your Authorize.net account, is the billing information present on the

[2020-03-23 20:57] BrandonJamesBorders opened #13 "Couldn’t capture transaction: (A valid referenced transaction ID is required.)"
**Describe the bug**
When gateway is set to "Authorize Only (Manually Capture)" the order transaction can't be manually captured. Error: Couldn’t capture transaction: (A valid referenced transaction ID is required.)

**To Reproduce**
Steps to reproduce the behavior:
1. Configure gateway to Authorize Only. Developer Mode enabled.
2. Create an order (CP or front-end of the website)
3. View order in

[2020-03-23 21:04] benlobach commented on #13
Hello @BrandonJamesBorders, are you using Accept.js? Can you paste the result of the initial capture here?

[2020-03-25 13:35] BrandonJamesBorders commented on #13
Hey @benlobach. Not using accept.js. Here are my settings:

Developer Mode -> ON
Accept.js -> OFF
Void if Refund Fails -> ON
Insert the Default Form -> ON
Remove CC Database before Submission -> OFF
Saved Payment Sources -> OFF
Enabled for customers to select during checkout? -> ON

Initial Capture:
[code]
Even on a immediate capture transaction, the ID is zero:
![image](https://user-images.github

[2020-03-25 15:20] benlobach commented on #13
Just ran a test on this end, and you should be seeing an authorization code. Is your sandbox in live or test mode? What does the transaction look like inside Authorize.net? If you'd rather not share that information there, feel free to send a note to hello@digitalpros.co.

[2020-03-25 17:22] BrandonJamesBorders commented on #13
@benlobach Sorry for taking up your time. After testing in test mode, I decided to regenerate my API keys instead of using the ones generated when my account was created. Plugging those keys in and it is working as intended.

[2020-03-25 17:22] #13 closed

[2020-03-25 17:24] benlobach commented on #12
@bfjare - Just wanted to follow-up on this request. Are you still having trouble refunding transactions?

[2020-04-01 18:13] bfjare commented on #12
This ended up being the issue.  Thanks.

[2020-04-01 18:13] #12 closed

[2020-04-11 13:29] johnj24 commented on #4
Hey, Ben. Consider me in the market for Authorize.net subscriptions as well, and I think having subscription management within Craft is almost essential. I imagine it would be pretty cumbersome to have two separate dashboards dealing with commerce related items. If it has to be separate to start, but you have concrete plans to bring those powers into Commerce, then I could probably make an excepti

[2020-04-17 15:01] keyurshah commented on #5
Hello,

Sorry, but this issue still seems to persist. I was just about to launch my production store, and couldn't submit payment.

It looks like it is staying in developer mode based on the js files being loaded

I checked project.yaml and it shows the following for settings

[code]

I tried setting developerMode in my config file to

[code]

with `AUTHORIZE_NET_DEVELOPER_MODE` set to true in `de

[2020-04-17 15:27] benlobach commented on #5
@keyurshah, Craft Commerce sets the gateway settings a bit differently than regular plugins. If you wish to set your gateway configuration programmatically for fields other than the keys (which use environment variables), you will need to use the commerce-gateways.php file in your config folder.

https://docs.craftcms.com/commerce/v3/payment-gateways.html#other-gateway-specifics

There's a sample

[2020-04-17 15:30] benlobach commented on #5
Are you using the commerce-gateways.php file to set these configuration options?

[2020-04-17 15:40] keyurshah commented on #5
Yes I’m using the commerce-gateways example provided.

I tried using multi environment as well inside the config but that didn’t seem to work either. In order to set dev to false for test mode

It’s a bit confusing with the different combinations

Basically i need:

Production
- specific api keys
- test mode off

Dev
- specific api keys
- test mode on

Other settings are the same between them (acc

[2020-04-17 16:49] keyurshah commented on #5
I should add that the key values would need to come from .env files for security.

thank you.

[2020-04-19 18:09] keyurshah commented on #5
after playing around with this over the weekend, I was able to get it working. Here are some notes

* when creating a gateway, handle should be different than any before because older gateways are archived and not deleted. seemed like this could cause an issue when pulling data. I was seeing setting values from a previous gateway that had the same handle.
* when creating a gateway,
  * only set pa

[2020-04-19 20:55] benlobach commented on #5
@keyurshah, this is great, thanks so much!

[2020-04-19 20:55] #5 closed

[2020-05-05 11:29] BrandonJamesBorders opened #14 "Refund Failure (Sandbox): The card parameter is required"
**Describe the bug**
Attempting to refund a transaction through the Craft Commerce CP. Get the following error:

![image](https://user-images.githubusercontent.com/6044898/81060665-e9676380-8ea0-11ea-89aa-e2c296fbf02a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Place an order through the website or build order through CP.
2. Click on "Capture" in payment details to capture the trans

[2020-05-05 13:53] benlobach commented on #14
Hello @BrandonJamesBorders, the transaction will need to settle before it can be refunded as Authorize.net doesn’t allow transactions to be refunded before settling.

If you would like to void a transaction instead (but refund where possible), there’s an option in the gateway settings to enable that functionality. It’s not enabled by default because it’s not possible to partially void a transactio

[2020-05-05 17:26] BrandonJamesBorders commented on #14
Thank's for the response, @benlobach.

I'm getting the error on transactions that have settled though too.

![image](https://user-images.githubusercontent.com/6044898/81095904-a96da400-8ed3-11ea-9aab-56bb315f3022.png)

![image](https://user-images.githubusercontent.com/6044898/81095828-8b07a880-8ed3-11ea-84e4-adb873c35cc3.png)

[2020-05-05 17:30] benlobach commented on #14
Are you using Accept.js?

[2020-05-05 17:31] BrandonJamesBorders commented on #14
No to Accept.js. Built-in form.

[2020-05-05 17:43] BrandonJamesBorders commented on #14
Settings if helpful:
![image](https://user-images.githubusercontent.com/6044898/81097816-6c56e100-8ed6-11ea-9be1-816f68b0c357.png)

[2020-05-05 18:15] benlobach commented on #14
Thanks, @BrandonJamesBorders. We'll dig into this a bit further and see what we can find. Stay tuned.

[2020-05-12 14:30] BrandonJamesBorders commented on #14
@benlobach Any luck? Switched to live credentials today and am still getting the issue.

[2020-05-12 14:48] benlobach commented on #14
@BrandonJamesBorders, we're actively working on a release that corrects this issue. The refund is attempted on the capture, but Authorize.net does not allow payment information to be sent along with the capture request. We plan to have a release that allows refunds on the capture request in the next couple of days. Thanks for checking in!

[2020-05-12 15:25] BrandonJamesBorders commented on #14
@benlobach Thanks for the update and your work!

[2020-05-14 04:30] benlobach commented on #14
@BrandonJamesBorders, thanks for submitting this issue! Release 1.0.12 (2ee4108a5b8767e41187c6641197f67a2be33609) solves this problem.

[2020-05-14 04:31] #14 closed

[2020-05-18 09:21] wuhhh opened #15 "Refund failed"
**Describe the bug**
Attempting to refund an order fails with the following message printed to the Info column of the transactions tab:

[code]

I have read that authorize.net refunds cannot be initiated until 24 hours have passed since the order was created. In this case, the order was placed on May 5th and the refund attempted on May 14th.

I tried testing locally with the *Save Payment Sources*

[2020-05-18 14:13] benlobach commented on #15
Thanks, @wuhhh! We're running some tests to see if we can replicate the issue. Because we do have to wait for the transactions to settle, it will take a couple of days to investigate.

[2020-06-01 12:23] BrandonJamesBorders opened #16 "Pass Order short number with ID"
**Is your feature request related to a problem? Please describe.**
My client is expressing confusion between the order short number being the primary Order Identifier in commerce and only having the Order ID being passed to Authorize.net.

**Describe the solution you'd like**
Pass the order short number in addition to or instead of the order ID.

The primary reason being the short number is the mo

[2020-06-01 14:02] benlobach commented on #16
@BrandonJamesBorders, thanks for the feedback! We'll take a look at adding this as an option in the settings. We are currently using the ID because it can be directly referenced in the URL, and the numeric value is sometimes easier to track when the column is visible in the orders area.

If you haven't already, you can add the Order ID as a column using the gear icon at the bottom of the order sta

[2020-06-08 19:59] BrandonJamesBorders opened #17 ""Hard" error when attempting to check out with bad CC"
**Describe the bug**
If a user selects to "Save card for future purchases" but has an error with their card (AVS mismatch for instance), a non-recoverable(?) error is thrown.

Could this be an issue with Craft Commerce and not this plugin?

**To Reproduce**
Steps to reproduce the behavior:
1. Build a cart.
2. Select a billing address that is different than your card's billing address.
3. Proceed t

[2020-06-08 20:39] benlobach commented on #17
@BrandonJamesBorders, it does look like a Craft Commerce issue. Would you mind opening a ticket with them? If they believe it's on our end, we're more than happy to dig a bit further!

[2020-06-08 20:39] #17 closed

[2020-06-12 08:07] jlapan opened #18 "Add Config Override Feature"
**Is your feature request related to a problem? Please describe.**
Switching between dev/staging and production environments, I have to manually change the "Developer Mode" setting. Sometimes I forget to change it back which will result is payments not being processed.

**Describe the solution you'd like**
It would be great if you could add a config override feature much like how the surprisehighw

[2020-06-12 15:02] benlobach commented on #18
@jlapan,

Great question! Yes, it is possible to set the gateway settings in a file that can be updated for your various environments. Craft Commerce handles gateway settings a bit differently, and they have a short blurb about it in their [documentation.](https://docs.craftcms.com/commerce/v3/payment-gateways.html#storing-config-outside-of-the-database)

We have a [sample configuration file](http

[2020-06-12 15:02] #18 closed

[2020-08-24 15:42] elivz opened #19 ""Invalid OTS token" when saving a payment source using Accept.js"
**Describe the bug**
When using Accept.js on the front-end and with the `savePaymentSource` option set on the cart, the gateway throws an "Invalid OTS Token" error upon trying to complete the order. I believe this is because the gateway plugin uses the one-time token first to create the saved card in CIM (https://github.com/digital-pros/commerce-authorize/blob/master/src/gateways/Gateway.php#L397)

[2020-08-24 15:57] benlobach commented on #19
Hello @elivz!

Thanks for filling out an issue!  It doesn't look like we can replicate this error in our clean staging environment, and we haven't seen something like this in the past.

A couple of quick questions:
- Could you check your network panel and make sure that the form isn't submitting twice for some reason?
- Would you mind installing the default [Craft Commerce Shop templates](https://

[2020-08-25 13:50] aryehischechter commented on #15
@benlobach I'm having a similar situation when using your plugin to handle apple pay transaction as well.
In AIMResponse.php around line 176
getCard is called on the request might return an empty card and that empty card is stored so that in AIMRefundRequest.php around line 35 where `$transactionRef->getCard()` is called it returns that fake empty card.

The Omnipay common code's getExpiryDate doe

[2020-08-25 14:40] elivz commented on #19
I tried installing the default templates and comparing the POST data from both versions. After some trial and error, it seems that the transaction fails if there is an `orderNumber` field in the POST data, containing the current cart's number. No idea why...I can't find any place in the code where that would seem to matter. But removing that hidden input has fixed the error.

[2020-08-25 15:42] benlobach commented on #19
Thanks for following up with what you found! The additional Order ID was most likely passed all the way to Authorize.net through the Omnipay gateway and Authorize.net didn't know what to do with that information. Let me know if anything else comes up!

[2020-08-25 15:42] #19 closed

[2020-08-31 06:10] aryehischechter commented on #15
I now realize that where I would make my change is in the omnipay-authorizenet repo.

[2020-08-31 13:57] benlobach commented on #15
@aryehischechter, my apologies for the delayed response! Yes, it's a bit tricky as we can't make changes in the omnipay repository. We're working on a new release that will look up the card number based on the transaction reference (so that it can be refunded), but it probably won't be ready for several more weeks.

[2020-09-01 11:45] aryehischechter commented on #15
@benlobach
When making the payment through Apple Pay, Apple does not provide the expiration date.
So even if we do get the card number we still can't perform the refund.

Will the new release look up the card number in authorize.net so it could also get the expiration date, or is it only getting the card number from within craft?

The former would solve my problem, the latter would not.

[2020-09-01 13:27] benlobach commented on #15
@aryehischechter, ideally, we'll pull everything we can from Authorize, but I'll have to see what comes back. Would you mind sharing the code you're using so we could test it as we build it out? If you'd rather email it, feel free to email us at hello@digitalpros.co.

[2020-09-18 01:42] challahan commented on #15
Same error here for refunds. Will keep watching for updates.

{
    "messages": {
        "resultCode": "Error",
        "message": {
            "code": "E00003",
            "text": "The 'AnetApi/xml/v1/schema/AnetApiSchema.xsd:cardNumber' element is invalid - The value XX is invalid according to its datatype 'String' - The actual length is less than the MinLength value."
        }
    }
}

[2020-09-22 19:31] knynkwl opened #20 "Question - use Full Name instead of firstName & lastName"
Is it possible to use just one input field to capture the card holder's name?

[2020-09-22 19:56] benlobach commented on #20
Hello, @knynkwl! Authorize.net requires them to be separate fields through the API. One thought or suggestion - you could turn them into hidden fields, and use Javascript to separate them out if you'd like to use one field.

[2020-09-22 19:56] #20 closed

[2020-09-22 20:02] knynkwl commented on #20
Ah okay, thanks for the info!

[2020-09-29 14:36] johnj24 commented on #4
Hi Ben, checking in again. Any chance something is in the works with subscriptions?

[2020-10-25 08:05] aryehischechter commented on #15
@benlobach has there been any progress on this?

[2020-11-06 16:34] andrewcgregory opened #21 "Back-End Order Payment - No Payment Form"
**Describe the bug**
Craft released "Back-end order editing" with [Commerce 3](https://craftcms.com/blog/commerce-3). However, when selecting using the Authorize.net payment gateway plugin no payment form shows up. Luke Holder responded in Discord that this looks like an issue with the plugin and that "if the gateway is enabled it should show up".

**To Reproduce**
Steps to reproduce the behavior:

[2020-11-09 14:10] benlobach commented on #21
@andrewcgregory - Thanks for reporting this error! Do you have Accept.js toggled on in your preferences?

[2020-11-10 15:53] andrewcgregory commented on #21
@benlobach We have Accept.js off in the settings. I did just test enabling this and still see the same issue.

[2020-11-10 16:25] benlobach commented on #21
@andrewcgregory - Thanks for confirming, we're taking a look!

[2020-12-10 16:31] bsartain76 opened #22 "Payment Profiles not Saving to Customer"
Hi,

I’m using the Default Payment Form Code provided in the docs

Enabled Plugin Settings:
Developer Mode
Insert the Default Form
Save Payment Sources

CIM is enabled
This is from Auth.net
========= GENERAL INFORMATION =========
Merchant : Ted Gartain (760083)
Date/Time : 7-Dec-2020 9:39:20 PST

========= ORDER INFORMATION =========
Invoice :
Description : Order #2166
Amount : 29.07 (USD)
Payment

[2020-12-15 18:28] bsartain76 commented on #22
@benlobach sorry as I know this was submitted a few days ago, but any ideas/thoughts here or a possible ETA? Thanks!

[2020-12-15 19:01] benlobach commented on #22
@bsartain76, thanks for checking back in! Our team has been running some internal testing and the card should be added to Authorize.net profile, even in development mode. The card you're trying to add wouldn't happen to be on your Craft profile already, would it?

[2020-12-16 12:29] bsartain76 commented on #22
@benlobach Interesting and thanks! No, there are no cards assigned to the Craft profile I'm using. hmmm, would you mind confirming how the Card get matched to a Profile in Authorize.net. Am I wrong in saying it looks at CustomerID and if nothing then uses the Address to match to a Profile? Thanks!

[2020-12-16 16:30] benlobach commented on #22
@bsartain76, would you mind sending a note to hello@digitalpros.co, and maybe we can connect on this further? All of the saved card methods run through the CIM, so you should see a profile with an associated card. Omnipay  handles the account creation and card associating within that account.

We're in the process of working on an update in this area where we're covering some edge cases, and we'd

[2021-01-28 22:10] BrandonJamesBorders commented on #22
@benlobach Having issues with this as well. Verified CIM is enabled. Here is our error:

[code]

[2021-02-03 14:35] jlapan opened #23 "Unable to refund transaction - missing required billing information"
**Description**
I am unable to refund a transaction through the "Transactions" tab in Commerce. I am using Authorize.net as our gateway and am getting an error that billing information as well as email is required. When looking at the order's "Order Details" tab, there is a complete and correct billing and shipping address for the order. The customer also has an email address. Here is the gateway

[2021-02-06 18:59] benlobach commented on #23
@jlapan - Would you mind providing the response from the original transaction?

[2021-03-19 12:11] BrandonJamesBorders commented on #22
Hey @benlobach!

Any progress/ETA on that update? Thanks!

[2021-03-30 05:25] #23 closed

[2021-03-30 08:00] benlobach commented on #22
@BrandonJamesBorders  - Thanks for your patience, sorry for the delay! This should be corrected in the 1.5 release this evening, let me know if you continue to see the problem!

[2021-03-30 08:00] #22 closed

[2021-03-30 08:01] benlobach commented on #21
@andrewcgregory - Thanks for reporting this issue! We have tracked it down, and it has been fixed in the 1.5 release that was pushed this evening. Let me know if you continue to see the problem!

[2021-03-30 08:01] #21 closed

[2021-03-30 08:02] benlobach commented on #16
@BrandonJamesBorders - As of 1.5, we're now adding the short order reference number to the Invoice number in Authorize.net, so you can use both numbers when referencing transactions now.

[2021-03-30 08:02] #16 closed

[2021-03-30 08:03] benlobach commented on #15
@aryehischechter, @challahan - As of version 1.5 released this evening, you should be able to refund these transactions now. Let me know if you run into any problems!

[2021-03-30 08:03] #15 closed

[2021-03-30 08:04] #6 closed

[2021-03-30 08:05] benlobach commented on #4
@mariovass, @johnj24 - Good news! Version 1.5 brings subscriptions to the plugin. Check out the documentation, and let me know if you have thoughts or feedback!

[2021-03-30 08:05] #4 closed

[2021-04-06 20:28] aryehischechter commented on #15
Hey @benlobach,

We're still having the issue even after updating.

The 'AnetApi/xml/v1/schema/AnetApiSchema.xsd:cardNumber' element is invalid - The value XX is invalid according to its datatype 'String' - The actual length is less than the MinLength value.

I took a look at the commits and I can't find where this would have been fixed in the recent updates.

[2021-04-06 20:34] benlobach commented on #15
@aryehischechter, we're now looking up the reference for the card number, as seen in the update here:

https://github.com/digital-pros/commerce-authorize/blob/a4880b07787cfc7ea61ee03ec2caf91a5bd4430d/src/gateways/Gateway.php#L486

Does your response from the transaction you are refunding have a card reference number in the response?

[2021-04-06 20:45] aryehischechter commented on #15
@benlobach it seems that our $transaction->type is TYPE_PURCHASE so it doesn't get into the if there

[2021-04-06 20:48] benlobach commented on #15
@aryehischechter, if you're refunding through the control panel transaction area, the type should be "TYPE_REFUND."

[2021-04-06 21:13] aryehischechter commented on #15
@benlobach sorry, you are correct.

The type was correct, but the form is null.

src/gateways/Gateway.php line 320 calls this function without a form param and therefore won't get into the if because isset($form->customerProfile) will always be falsy.

The full stack trace:
[code]

[2021-04-06 21:23] benlobach commented on #15
@aryehischechter - If you change this line to:

https://github.com/digital-pros/commerce-authorize/blob/a4880b07787cfc7ea61ee03ec2caf91a5bd4430d/src/gateways/Gateway.php#L476

if(in_array($transaction->type, [TransactionRecord::TYPE_REFUND, TransactionRecord::TYPE_CAPTURE], false) && **!isset($form->customerProfile)**) {

Does that correct your problem?

[2021-04-06 21:24] benlobach commented on #15
@aryehischechter  - We ran through some pretty extensive testing, but perhaps we missed that conditional since this was a pretty specific scenario. If that fixes it, we're happy to run through testing again. If not, I want to be sure we fix it completely!

[2021-04-07 20:16] benlobach commented on #15
@aryehischechter - Just wanted to follow-up to see if this change fixed the problem you're experiencing?

[2021-04-08 15:56] AndriiBalaban commented on #15
@benlobach

![image](https://user-images.githubusercontent.com/7914813/114053474-a6bfbf80-9897-11eb-87e1-a9dfdd8e21fe.png)
1) `!isset($form->customerProfile)` was added
2) `!isset($transactionReference->card, $transactionReference->card->number)` was added on line 487, because card object exists, but number is empty
3) the code crashes on this line because the property  **cardReference** is missin

[2021-05-12 21:15] BrandonJamesBorders commented on #22
@benlobach Just tested and had the same issue. The site is quite behind now on commerce updates though. Any thoughts on what to look at?

It works on our local and dev server.

[2021-05-22 14:57] benlobach commented on #22
@BrandonJamesBorders - I'd like to run some additional testing here to see if we can track this down.

Is Accept.js enabled in your Gateway settings? After upgrading to 1.5, you don't see the card saved in the Authorize.net CIM?

[2021-05-22 15:44] benlobach commented on #15
@AndriiBalaban, @aryehischechter, my apologies for the delay on this request! We have pushed a new version (1.5.1) which should correct the problem for this use case. Let us know if you run into anything else!

[2021-08-11 12:30] marcdebiak opened #25 "Security concern regarding authorize keys on website front-end"
A client of ours has expressed concern that their Authorize client key and API login ID are exposed when the page source is viewed on checkout. Our team investigated and found this is being generated by the Commerce Authorize plugin.

![image](https://user-images.githubusercontent.com/1154655/129027970-af5c699d-b17d-4645-bb30-e9a921e1b1ce.png)

If these credentials are required to be public in ord

[2021-08-11 12:51] knynkwl commented on #25
Also, it looks like Authorize.net suggests that the API Login key should be secure.

https://account.authorize.net/helpCP/Account/Settings/Security_Settings/General_Settings/API_Login_ID_and_Transaction_Key.htm

[2021-08-11 16:08] benlobach commented on #25
@marcdebiak, @knynkwl: Thanks for reaching out! In order for an Accept.js transaction to process, there are three API keys required, and the third key (Transaction Key) is never exposed to the public. Without this key, no action can be taken in regard to your Authorize.net account.

When using the Accept.js integration, both the API Login ID and the Public Client Key are required to send a request

[2021-08-11 16:08] #25 closed

[2021-08-11 16:55] marcdebiak commented on #25
Thank you @benlobach

This definitely puts the client at ease and makes a lot of sense.

[2021-11-05 14:44] mcclaskiem commented on #21
I just updated to 1.5.1 and after trying with Accept.js turned off and on I am still not seeing the payment form. Does Commerce need to be at a certain version as well?

[2021-11-05 14:47] benlobach commented on #21
@mcclaskiem, which version of Commerce are you running?

[2021-11-05 14:50] mcclaskiem commented on #21
`Craft Commerce: 3.2.13.2`

[2021-11-05 14:56] benlobach commented on #21
@mcclaskiem, perfect, thanks! Would you mind sending a screenshot of your settings to hello@digitalpros.co? (or posting a redacted version here?)

[2021-11-05 15:06] mcclaskiem commented on #21
Email sent. Thanks!

[2021-11-05 15:21] mcclaskiem commented on #21
@benlobach I just updated Commerce to `3.2.17.4` and the payment form now appears for Authorize.net!

[2021-11-05 15:33] benlobach commented on #21
@mcclaskiem - Awesome, thanks for letting me know!

[2022-05-05 17:17] justinholtweb opened #27 "Craft 4 Compatible - UPDATE: Beta Available"
**Is your feature request related to a problem? Please describe.**
Craft 4 & Commerce 4  is released but this payment gateway plugin is not currently compatible with Craft 4 or Commerce 4.

**Describe the solution you'd like**
I would like this to be compatible with Craft/Commerce 4.

**Describe alternatives you've considered**
We must use this payment gateway for transactions.

**Additional conte

[2022-05-05 17:34] benlobach commented on #27
@justinholtweb - Thanks for filling out an issue! We're working on Craft 4 compatibility, but don't have a release date at this moment. We'll update this thread when it's available!

[2022-05-05 17:37] justinholtweb commented on #27
Thank you @benlobach I will look forward to your updates when you make progress. Thanks for your work on this.

[2022-06-30 12:26] CreateSean commented on #27
Is there an ETA on Craft 4 release?

[2022-07-12 16:27] benlobach commented on #27
Thanks for checking in! We've made significant progress, and are currently testing the next version. We hope to have another update within the next week or so.

[2022-07-25 04:11] benlobach commented on #27
Hello, Everyone!

The Authorize.net Commerce 4 beta branch is ready to test! We plan to release the develop-v4 branch as the official release in roughly 4 weeks following additional testing from our team, but wanted to make the beta version available for your staging environments ahead of the wide release. You can install the beta version by updating your composer file to use the develop branch, a

[2022-09-26 18:52] mrbenito commented on #27
Hey @benlobach, any update on the timing to release this highly anticipated update for Craft4? Really really appreciate you guys bringing this code in-house!! Thank you @justinholtweb for raising this!

[2022-10-27 12:46] CreateSean commented on #27
Really hoping to see this get released soon. It's the only plugin holding back a site update.

[2022-10-31 15:05] benlobach commented on #27
@CreateSean, @mrbenito, thanks for your patience! Version 4.0.1 has been released into production!

[2022-11-08 17:25] fantasticmachine opened #29 "Undefined currency attribute"
Hi, I'm using v1.5.1 of the plugin on a Craft 3 site.
I haven't used Authorize.net so may be missing something here but when I try to put a transaction through I get a response saying the currency attribute is not declared.

This is from the Transaction response
[code]

I can't find reference to this in any documentation. Have you seen this before or have any idea what might be going on?

[2022-11-08 17:33] benlobach commented on #29
@fantasticmachine - Great question! We haven't run into this particular error in testing. Is there a currency associated with your cart/order?

[2022-11-08 17:44] fantasticmachine commented on #29
@benlobach The post data is as follows, and does include a paymentCurrency

[code]

I'm wondering if maybe it's a problem with the plugin and the version of Commerce?
I'm on 1.5.1 of the plugin and using 3.4.10.1 of Commerce

[2022-11-08 17:48] benlobach commented on #29
As far as I know, that version should work with Commerce 3.4. Are you using a custom form, or are you using the default form provided by the plugin?

[2022-11-08 18:00] benlobach commented on #29
Got it! If we can continue to troubleshoot with the default form, that would be helpful! Is this a new build, or a new issue after updating to 3.4.10.1?

[2022-11-09 10:47] fantasticmachine commented on #29
This is a new installation of the plugin on an existing site that has been running 3.4.10 for some time. The client wanted to switch from their current provider to using Authorize.net

I have put the default form in and still no luck. But I think this may be related to settings. Let me fiddle with those and see if I can at least get a failed transaction to show up.

[2022-11-09 11:12] fantasticmachine commented on #29
OK. There were other form fields on the page (for other gateways). I have removed those and have switched to using the default form and our own Sandbox account now. However, I'm still getting the currency error.

I also get the same currency attribute error if trying to make a payment in the CP

[2022-11-09 11:34] fantasticmachine commented on #29
Have now also tried using customer's own Authorize.net account and get the same error.

I'm wondering if this is something to do with Commerce instead of the gateway since the logs show the following "application" error.

`2022-11-09 05:10:21 [-][1][-][error][application] The 'CURRENCY' attribute is not declared.`

Although the site has been working fine with another credit card payment gateway so

[2022-11-09 14:36] fantasticmachine commented on #29
Yeah I'm going to set up a clean install I think and try it from there.

I'll also investigate the transaction object to see if the currency is set

[2022-11-15 17:46] benlobach commented on #29
@fantasticmachine - Just wanted to check back in here to see how the clean install went?

[2022-11-15 17:47] fantasticmachine commented on #29
@benlobach I've been planning to work on this all week and haven't got to it yet. It's on my schedule for tomorrow. I'll let you know what happens!

[2022-11-17 12:25] fantasticmachine commented on #29
@benlobach I have finally got around to testing the plugin on a "blank" site and it worked just fine. So the issue is somewhere on this specific site that I'm working on. But as of yet, I have no idea what the problem might be.

[2022-11-17 12:25] #29 closed

[2022-11-17 14:19] benlobach commented on #29
@fantasticmachine - that’s interesting! Were you able to check your transaction record for currency values?